{% extends 'base1.html.twig' %}

{% block title %}Association
{% endblock %}

{% block body %}
	<h1>
		<center>Association</h1>
		<a class="btn btn-primary mt-4 mb-2" target="_blank" href="{{ path('app_association_export_csv') }}">Export to Excel</a>
		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nom</th>
					<th>Adresse</th>
					<th>Rib</th>
					<th>Email</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for association in associations %}
					<tr>
						<td>{{ association.id }}</td>
						<td>{{ association.nom }}</td>
						<td>{{ association.adresse }}</td>
						<td>{{ association.rib }}</td>
						<td>{{ association.email }}</td>
						<td>
							<a href="{{ path('app_association_show', {'id': association.id}) }}">Show</a>
							<a href="{{ path('app_association_edit', {'id': association.id}) }}">Edit</a>
							{{ include('association/_delete_form.html.twig') }}
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="6">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endblock %}
