{% extends 'base.html.twig' %}

{% block title %}Association
{% endblock %}

{% block body %}
	<section class="hero hero-normal">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<div class="hero__categories">
						<div class="hero__categories__all">
							<i class="fa fa-bars"></i>
							<span>All departments</span>
						</div>
						<ul></ul>
					</div>
				</div>
				<div class="col-lg-9">
					<div class="hero__search">
						<div class="hero__search__form">
							<form id="search-form" method="GET">
								<div class="hero__search__categories">
									All Categories
									<span class="arrow_carrot-down"></span>
								</div>
								<input type="text" id="search-input" name="q" value="{{ app.request.get('q') }}" placeholder="Search association...">
								<button type="submit" class="site-btn">SEARCH</button>
							</form>
						</div>
						<div>
							<a href="{{ path('reset_associations') }}" class="btn btn-danger">Reset</a>
						</div>
						<div class="hero__search__phone">
							<div class="hero__search__phone__icon">
								<i class="fa fa-phone"></i>
							</div>
							<div class="hero__search__phone__text">
								<h5>+65 11.188.888</h5>
								<span>Support 24/7 time</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<center>
		<h1>Liste Des Associations</h1>
	</center>
	<section class="blog spad">
		<div class="container">
			<div class="row">
				{% for association in associations %}
					<div class="col-lg-4 col-md-6 col-sm-6">
						<div class="blog__item">
							<div class="blog__item__pic">
								<img src="{{ asset('https://www.60millions-mag.com/sites/default/files/styles/asset_image_full/public/assets/images/thinkstockphotos-487921819.jpg?itok=7GwHM1RQ') }}" alt="">
							</div>
							<div class="blog__item__text">
								<h5>
									<a href="#">{{ association.nom }}</a>
								</h5>
								<p>{{ association.adresse }}</p>
								<a href="{{ path('app_don_new', {'id': association.id}) }}" class="blog__btn" style="display: inline-block; background-color: #5ca5ff; color: #fff; padding: 10px 20px; border-radius: 5px; text-transform: uppercase; font-weight: bold; transition: background-color 0.2s ease-in-out;">DONATE<span class="arrow_right"></span>
								</a>
							</div>
						</div>
					</div>
				{% endfor %}

				{% if associations|length == 0 %}
					<p>No associations found.</p>
				{% endif %}
				<div class="col-lg-12">
					<div class="product__pagination blog__pagination">
						{{ knp_pagination_render(associations) }}
					</div>
				</div>
			</div>
		</div>
	</section>
	<script>
		// listen for changes in the search input field
const searchInput = document.querySelector('#search-input');
searchInput.addEventListener('input', () => { // get the search query from the input field
const query = searchInput.value.trim();

// make an AJAX request to fetch the search results
const xhr = new XMLHttpRequest();
xhr.open('GET', '{{ path('app_association_search') }}?q=' + encodeURIComponent(query));
xhr.onload = function () {
if (xhr.status === 200) { // display the search results in the search-results div
document.querySelector('#search-results').innerHTML = xhr.responseText;
}
};
xhr.send();
});
	</script>
{% endblock %}
