{% extends 'base1.html.twig' %}

{% block title %}Don
{% endblock %}

{% block body %}
	<h1>Don</h1>
	<a target="_blank" class="btn btn-primary mt-4 mb-2" href="{{ path('app_don_pdf', {'id': don.id}) }}">Download PDF</a>
	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ don.id }}</td>
			</tr>
			<tr>
				<th>Membre</th>
				<td>{{don.membre.nom}}</td>
			</tr>
			<tr>
				<th>Association</th>
				<td>{{don.association.nom}}</td>
			</tr>
			<tr>
				<th>Montant</th>
				<td>{{ don.montant }}€</td>
			</tr>
			<tr>
				<th>Date</th>
				<td>{{ don.dateDon ? don.dateDon|date('Y-m-d') : '' }}</td>
			</tr>
			<tr>
				<th>carte_credit</th>
				<td>{{ don.cartecredit}}</td>
			</tr>
			<tr>
				<th>Email</th>
				<td>{{ don.Email}}</td>
			</tr>
			<tr>
				<th>message</th>
				<td>{{ don.message}}</td>
			</tr>
		</tbody>
	</table>
	<div style="display: flex;">
		<a class="btn btn-primary mt-4 mb-2" href="{{ path('app_don_edit', {'id': don.id}) }}">edit</a>
		<a class="btn btn-primary mt-4 mb-2" href="{{ path('app_don_index') }}">Back To List</a>
	</div>
	{{include('don/_delete_form.html.twig')}}

{% endblock %}
