{% extends 'base.html.twig' %}

{% block title %}Solde{% endblock %}

{% block body %}
    <h1>Solde</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ part.id }}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ part.montant }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ part.date ? part.date|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

     <a href="{{ path('app_part_index') }}"><button class="btn btn-primary">back to list</button></a>

     <a href="{{ path('app_part_edit', {'id': part.id}) }}"><button class="btn btn-warning">Edit</button></a>

    {{ include('part/_delete_form.html.twig') }}
{% endblock %}
